<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head th:replace="board/fragments/header :: main-head"></head>
	<body>
		<form th:if="${not #maps.isEmpty( params )}" name="dataForm" th:action="${redirectUri}" th:method="${method}" style="display: none;">
			<input th:each="key, status : ${params.keySet()}" type="hidden" th:name="${key}" th:value="${params.get(key)}" />
		</form>

		<script th:src="@{/scripts/common.js}"></script>

		<th:block layout:fragment="script">
			<!-- 컨트롤러에서 전달 받은 메세지가 비어있지 않으면 사용자에게 alert -->
			<!-- else에서 params이 비어있으면 redirectUri에 지정된 uri호출 -->
			<!-- if에선 params이 비어있지 않으면 폼을 컨트롤러로 submit -->
			<script th:inline="javascript">
			/* <![CDATA[ */

				window.onload = function() {
					var message = /*[[ ${message} ]]*/ null;
					if (isEmpty(message) == false) {
						alert(message);
					}

					var params = /*[[ ${params} ]]*/ null;
					if (isEmpty(params) == false) {
						document.dataForm.submit();
					} else {
						var redirectUri = /*[[ ${redirectUri} ]]*/ null;
						location.href = redirectUri;
					}
				}
				/*[- end of onload -]*/

			/* ]]> */
			</script>
		</th:block>
	</body>
</html>